.main-nav {
  display: flex;
  align-items: center;
  /* padding-bottom: 25px;
  padding-top: 24px; */
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  /* margin-left: 93px; */
}
.nav {
  margin-left: 93px;
}
